body {
}
.bubble{
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    vertical-align: top;
    margin:20px;
    position:absolute;
    z-index: 999;
    top: 100px;
    left: 50%;
}

.bubbleError{
    background-color:lightsalmon;
}


.bubbleSuccess{
    background-color:lightgreen;
}

.bubbleMessageError{
    color:darkred;
}


.bubbleMessageSuccess{
    color: darkgreen;
}


.bubble::before {
    background-color:inherit;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
}

.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}


.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

#overlay {
  opacity: 0.8; /* also -moz-opacity, etc. */
  z-index: 10;
}

.transparentbutton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.formbutton{
    width:100px;
}


.formbuttonafter{
   margin-left: 20px
}

.formbuttonafterbig{
   margin-left: 200px
}

.panelform{
   margin-top:20px;
}


.panelformbody{
   height:700px;
   position: relative;
}

.panelformbuttons{
    position:absolute;
    left:20px;
    bottom:20px;
}
.panelinfo {
background: lightblue;
color: blue;
}
  
  .wizardpanel{
      margin:10px
  }
  
  .panel{
      box-shadow: 10px 10px 5px #888888;
  }
  
  .grid {
  width: 100%;
  height: 100%;
}
  



