<div>
     <h4><span style="color:darkcyan"><strong>{{title}}</strong></span></h4>
    <div style="position: relative;">
        <button title="Close" ng-if="buttontype=='close'" ng-click="onclose()" style="position:absolute;right:0px;bottom:0px;"  class="transparentbutton"><img src="assets/application/Images/Button-Close-icon.png" /></button>
        <button title="Back" ng-if="buttontype=='back'" ng-click="onclose()" style="position:absolute;right:0px;bottom:0px;"  class="transparentbutton"><img src="assets/application/Images/back_button.jpg"  /></button>
    </div>
</div>