<div class="panel formpanel panel-default">
    <div class="panel-heading">
        <panel-header title='{{wizardtitle}}' buttontype='close' onclose="onclose" /> 
    </div>
    
    <div class="panel-body panelformbody">
        <div class="panelformdetails" ng-transclude></div>
        <div class="panelformbuttons">
            <button class="btn btn-primary formbutton" ng-if="FormStatus.Waiting===false" ng-click="Next()">{{(action==='finishprocess'?'Finish':(action==='close'?'Close':'Next'))}}</button>
            <button class="btn btn-primary formbutton" ng-disabled="true" ng-if="FormStatus.Waiting===true"><i class="fa fa-refresh fa-spin"></i> Waiting...</button>
        </div>

    </div>
</div>